<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="LowaFields"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="LowaFields"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="LowaFields"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="LowaFields"> <!--<![endif]-->
    <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>MMP360</title>
    <meta name="description" content="">
    <meta name="author" content="CFSPH Webspinner">
    <meta name="robots" content="noindex,nofollow">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <!-- JS
    ================================================== -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js?ver=1.9.1" type="text/javascript" style=""></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script type='text/javascript' src='http://maps.google.com/maps/api/js?v=3&#038;sensor=false'></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <section>
    <div class="container" id="">
      <div class="sixteen columns">
        <div align="right">
          <%= current_user %>: <%= link_to "Sign Out", destroy_user_session_path, method: "DELETE" %>
        </div>
      </div>
    </div>
    <div class="container main">
      <header class="container">
      <a href="/account"><img id="logo" title="MMP360" src="/assets/praxik-mmp360-logo.png"></a>
      </header>
      <div class="four columns omega">
        <nav>
        <div id="mini-menu">
          <select name="sections" class="menu_select">
            <option value="network" selected="selected">- select -</option>
            <optgroup label="Reports">
              <option value="#/my-reports">My Reports</option>
            </optgroup>
            <optgroup label="My Account">
              <option value="#/change-my-password/">Change My Password</option>
              <option value="#/edit-my-profile/">Edit My Profile</option>
            </optgroup>
            <optgroup label="Feeding Operation Site Management">
              <option value="#/add-feeding-operation/">Add a Feeding Operation</option>
              <option value="#/my-feeding-operations/">My Feeding Operations</option>
            </optgroup>
            <optgroup label="Field Management">
              <option value="#/fields">Add a Field</option>
              <option value="#/my-fields/">My Fields</option>
            </optgroup>
            <optgroup label="Praxik MMP360">
              <option value="#/about">About This Site</option>
              <option value="#/contact">Contact Us</option>
              <option value="#/services">Services</option>
            </optgroup>
          </select>
        </div>
        <div id="normal-menu">
          <div><h5>Reports</h5></div>
          <ul>
            <li><a href="#/my-reports/">My Reports</a></li>
          </ul>
          <div><h5>My Account</h5></div>
          <ul>
            <li><a href="#/change-my-password/">Change My Password</a></li>
            <li><a href="#/edit-my-profile/">Edit My Profile</a></li>
          </ul>
          <div><h5>Feeding Operation Site Management</h5></div>
          <ul>
            <li><a href="#/operations/new">Add a Feeding Operation</a></li>
            <li><a href="#/operations">My Feeding Operations</a></li>
          </ul>
          <div><h5>Field Management</h5></div>
          <ul>
            <li><a href="#/fields/new">Add a Field</a></li>
            <li><a href="#/fields">My Fields</a></li>
          </ul>
          <div><h5>Praxik MMP360</h5></div>
          <ul>
            <li><a href="#/about">About This Site</a></li>
            <li><a href="#/contact">Contact Us</a></li>
            <li><a href="#/services">Services</a></li>
          </ul>
        </div>
        </nav>
      </div>

        <div class="twelve columns alpha">
          <div id="content" ng-view>
          </div> <!-- / MY REPORTS page content -->
        </div> <!-- / HOMEPAGE content -->
      </div> <!-- /container main -->
    </section> <!-- / page content -->


  <script type="text/ng-template" id="template/accordion/accordion.html">
    <div class="accordion" ng-transclude></div>
  </script>

  <script type="text/ng-template" id="template/accordion/accordion-group.html">
    <div class="accordion-group">
      <div class="accordion-heading" >
        <a class="accordion-toggle" ng-click="isOpen = !isOpen" accordion-transclude="heading">{{heading}}</a>
      </div>
      <div class="accordion-body" collapse="!isOpen">
        <div class="accordion-inner" ng-transclude></div> 
      </div>
    </div>
  </script>
 

    <footer>
      <div class="container">
        <div class="sixteen columns">
          <div align="right">
            <a href="#/terms">Terms of Service</a> | <a href="#/privacy">Privacy Policy</a><br>
            &copy; 2013 Praxik, LLC
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
