<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="LowaFields"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="LowaFields"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="LowaFields"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="LowaFields"> <!--<![endif]-->
    <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Praxik MMP360 : Iowa Manure Management Planning</title>
    <meta name="description" content="">
    <meta name="author" content="CFSPH Webspinner">
    <meta name="robots" content="noindex,nofollow">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <!-- Favicons
    ================================================== -->
    <link href="http://mmp360.com/wp-content/themes/kps_skeleton/images/favicon.ico" rel="shortcut icon">
    <link href="http://mmp360.com/wp-content/themes/kps_skeleton/images/IMMP_57x57.png" rel="apple-touch-icon">
    <link href="http://mmp360.com/wp-content/themes/kps_skeleton/images/IMMP_72x72.png" sizes="72x72" rel="apple-touch-icon">
    <link href="http://mmp360.com/wp-content/themes/kps_skeleton/images/IMMP_114x114.png" sizes="114x114" rel="apple-touch-icon">

    <!-- CSS
    ================================================== -->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <!-- JS
    ================================================== -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= javascript_include_tag "home", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <section>
    <div class="container" id="login">
      <div class="sixteen columns">
        <div align="right">
          <% if user_signed_in? %>
            <%= current_user %>: <%= link_to "Signout", destroy_user_session_path, method: "DELETE" %>
          <% else %>
            <%= link_to "Signin", new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container main">
      <header class="container">
      <a href="/"><img id="logo" title="MMP360" src="assets/praxik-mmp360-logo.png"></a>
      </header>	

      <div id="splash-screen"></div>

      <div class="four columns omega">
        <nav>
        <div id="mini-menu">
          <select name="sections" class="menu_select">
            <option value="network" selected="selected">- select -</option>
            <optgroup label="Praxik MMP360">
              <option value="/about">About This Site</option>
              <option value="/contact">Contact Us</option>
              <option value="/services">Services</option>
            </optgroup>
          </select>
        </div>
        <div id="normal-menu">
          <div><h5>Praxik MMP360</h5></div>
          <ul>
            <li><a href="/about">About This Site</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/services">Services</a></li>
          </ul>
        </div>
        </nav>
      </div>

        <%= yield %>
    </div>
    </section>

    <footer>
    <div class="container">
      <div class="sixteen columns">
        <div align="right">
          <a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a><br>
          &copy; 2013 Praxik, LLC
        </div>
      </div>
    </div>
    </footer>
    <!--110:Gold100:61.0237in^3010:6.673x10^-11001:English101:6.626x10^-34111:Platinum011:mc^2-->

</body></html>
